#
# openLilyLib/scholarly configuration
#

name: scholarly
display-name: scholarLY
short-description: Tools for scholarly editions
description: <
  The core component of this package is a system to annotate score
  elements in LilyPond. Annotations can highlight the element or be
  exported to various file formats.
  Functions to highlight annotated elements in consistent ways
  can be used independently.
  >
dependencies: [
  edition-engraver
  breaks
]
oll-core: 0.0.0
maintainers: [
  Urs Liska <ul@openlilylib.org>
  ]
version: 0.0.1
license: GPL3
repository:  https://github.com/openlilylib/ji/
